.intro {
    padding: 25px 0 30px;
    position: relative;
    width: auto;
    display: table;
    float: right;
}

.intro h1 {
    width: auto;
    white-space: nowrap;
    font-size: 18px;
    font-weight: bold;
    color: #1e2f38;
    display: inline-table;
    line-height: 35px;
}

.intro span {
    width: auto;
    white-space: nowrap;
    display: inline-table;
    font-size: 15px;
    color: #686e71;
    padding-right: 15px
}

.breadcrumb {
    padding: 25px 0 30px;
    width: auto;
    display: table;
    float: left;
    position: relative;
    top: 3px
}
/* ************** article box ************** */
section{
    padding: 0 !important;
}
.article-box{
    background-color: #f9f9f9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%232f0c55' fill-opacity='0.01'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    padding: 20px;
    box-shadow: 0 0 10px gainsboro;
    border-radius: 5px;
}

.article-box .head-image{
    border-radius: 0 0 350px 0;
    margin-bottom: 50px;
}
.overlay-avatar{
    position: absolute;
    top: 300px;
}
.overlay-avatar .image-user{
    width: 130px;
    height: 130px;
    border: 5px solid #f9f9f9;
    border-radius: 100%;
    background: url(/Site/images/avatar-366.png) center center no-repeat;
    background-size: cover;
}
.overlay-avatar span{
    display: block;
    margin: 10px;
    color: #686e71;
    font-size: 14px;
}
.overlay-avatar span .fa-eye,
.overlay-avatar span .fa-calendar,
.overlay-avatar span .fa-user{
    margin-left: 5px;
}
.article-box .header-article{
    border-bottom: 3px solid gainsboro;
    margin-bottom: 50px;
    position: relative;
    min-height: 60vh !important;
    overflow: hidden;
}
.article-box h2{
    font-size: 18px;
    color: #2f0c55;
    padding: 10px;
    margin: 20px 0;
}
.article-box h3{
    font-size: 16px;
    color: #1e2f38;
    padding: 10px;
}
.article-box p {
    color: #686e71;
    padding: 10px;
    line-height: 35px;
    font-size: 14px;
}
.article-box a{
    font-size: 14px;
    text-decoration: none;
    color: #804bb8;
}
.article-box .middle-image{
    padding: 20px 80px;
    border-radius: 10px;

}
/****************** tags************** */

.course-tag{
    margin: 20px 0;
}

/* aside categories */
.aside-filter{
    margin-top: 0 !important;
}
.aside-categories{
    padding: 0;
}
.aside-categories>ul>li span {
    display: block;
    line-height: 25px;
    position: relative;
    padding-right: 25px;
    font-size: 14px;
    color: #6e6871;
}
.aside-categories>ul>li::before{
    width: 18px;
    height: 18px;
    content: '\f0d9';
    position: absolute;
    right: 10px;
    top: 2px;
    color: #804bb8;
    visibility: visible;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
}

@media screen and (max-width : 1199px) {
    .aside-filter  h2{
        font-size: 16px !important;
        padding: 20px 10px;
    }
    .overlay-avatar{
        top: 250px;
    }
    .article-box h2{
        font-size: 17px !important;
    }
    .article-box h3{
        font-size: 15px !important;
    }
    .article-box p,
    .article-box a,
    .overlay-avatar span{
        font-size: 13px !important;
    }
}

/* ******************* 991 *********************** */
@media screen and (max-width : 991px) {
    .article-box h2{
        font-size: 16px !important;
    }
    .article-box h3{
        font-size: 14px !important;
    }
    .article-box p,
    .article-box a,
    .overlay-avatar span{
        font-size: 12px !important;
    }
    
}
/* ************************** 767 ******************** */
@media screen and (max-width : 700px) {
    .article-box h2{
        font-size: 15px !important;
    }
    .article-box h3{
        font-size: 13px !important;
    }
    .article-box p,
    .article-box a,
    .overlay-avatar span{
        font-size: 11px !important;
    }
    .overlay-avatar{
        top: 40%;
        height: 100px;
        width: 100px;
    }
}
/* ************************** 600 ******************** */
@media screen and (max-width : 550px){
    .article-box .head-image{
        border-radius: 5px !important;
    }
    .overlay-avatar{
        display: none;
    }
    .article-box .head-image{
        margin-bottom: 0;
    }
    .article-box .middle-image{
        padding: 20px 40px;
    }
}
/* ***************** 480 ********************* */
@media screen and (max-width : 480px) {

    .article-box .header-article{
      min-height: 0 !important;
    }

    .overlay-avatar{
        display: none;
    }
    .article-box h2{
        font-size: 14px !important;
    }
    .article-box h3{
        font-size: 12px !important;
    }

    .overlay-avatar span .fa-eye,
    .overlay-avatar span .fa-calendar,
    .overlay-avatar span .fa-user{
            display: none;
        }
        .view-artcile{
            display: none !important;
        }
        .article-box .middle-image{
            padding: 20px;
        }
}