
.article-box .article-inner{
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px gainsboro;
    padding: 0;
    margin: 30px 0px 5px 0;
    overflow: hidden;

}
.article-box img{
    width: 100%;
    height: 200px !important;
    padding: 0;
    margin: 0;
}
.article-box h2{
    color: #2f0c55;
    font-size: 18px;
    padding: 20px 10px 0 10px;
}
.article-box p{
    line-height: 40px;
    height: 80px;
    font-size: 14px;
    color: #1e2f38;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 10px 30px 10px;
}
.article-box span{
    font-size: 14px;
    padding: 20px;
    margin: 10px 0;
    float: left;
    color: #9fd98c;
}
.article-box a{
    font-size: 14px;
    float: right;
    padding: 20px;

    margin: 10px 0;

    color: #804bb8;
    height: 80px;
}
.paging {
    text-align: center;
    direction: rtl !important;
}

.page-link {
    cursor: pointer !important;
    color: #39363d !important;
    font-size: 14px !important;
    border-radius: 5px;
    margin: 0 5px !important;
}

.page-link:hover {
    color: #ffffff !important;
    background-color: #2f0c55 !important;
}

.page-link-active {
    background-color: #2f0c55 !important;
    color: #fff !important;
}


/* ************* 1199 ********************* */
@media screen and (max-width : 1199px) {
    .article-box{
        padding: 10px;
    }
    .article-box p,
    .article-box span,
    .article-box a{
        font-size: 13px;
    }
    .article-box h2{
        font-size: 17px;
    }
}


/* ************************** 767 ******************** */
@media screen and (max-width : 767px) {

    .article-box p,
    .article-box span,
    .article-box a{
        font-size: 12px;
    }
    .article-box h2{
        font-size: 16px;
    }
    .article-box img{
        height: 300px !important;
    }
    .article-box div{
        width: 80%;
        display: block !important;
        margin: 10px auto !important;
    }
    .page-link{
        font-size: 10px !important;
        margin: 4px !important;
        padding: 10px !important;
    }
}

@media screen and (max-width : 600px){
    .article-box div{
        width: 100%;
    }

}

/* ***************** 480 ********************* */
@media screen and (max-width : 480px) {
    .article-box img{
        height: 200px !important;
    }
    .article-box p,
    .article-box span,
    .article-box a{
        font-size: 11px;
    }
    .article-box h2{
        font-size: 15px;
    }
    .page-link{
        font-size: 10px !important;
        margin: 3px !important;
        padding: 7px !important;
    }
}