.intro {
    padding: 25px 0 30px;
    position: relative;
    width: auto;
    display: table;
    float: right;
}

.intro h1 {
    width: auto;
    white-space: nowrap;
    font-size: 18px;
    font-weight: bold;
    color: #1e2f38;
    display: inline-table;
    line-height: 35px;
}

.intro span {
    width: auto;
    white-space: nowrap;
    display: inline-table;
    font-size: 15px;
    color: #686e71;
    padding-right: 15px
}


/********************** icons************* */
.fa-tag,
.fa-list,
.fa-download,
.fa-play,
.fa-video,
.fa-comments {
    margin-left: 5px;
    font-size: 14px;
    color: #686e71;
}

.fa-download,
.fa-play {
    transition: 0.2s all ease-in-out;
}

.fa-download:hover {
    color: #2f0c55;
    transform: scale(1.2);
}

.fa-play:hover {
    color: #69c949;
    transform: scale(1.2);
}

/***************** breadcrump************* */
.breadcrumb {
    padding: 25px 0 30px;
    width: auto;
    display: table;
    float: left;
    position: relative;
    top: 3px
}

.aside-course {
    float: right;
    padding: 0;
}

.main-body-course {
    float: left;
    padding: 0;
    max-width: 73.5%;
}

.course-information,
.course-tag,
.related-articles {
    background-color: #f9f9f9;
    box-shadow: 0 0 10px gainsboro;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 25px;
}

.course-information h2 {
    border-bottom: 1px solid gainsboro;
    padding: 20px;
}

.course-information h2>a {
    float: left;
    padding: 0;
}

/* *************  ************** */
.free-course {
    color: #9fd98c !important;
}

.cash-course {
    color: #fcc208 !important;
}

.complete {
    color: #69c949 !important;
}

.recording {
    color: #ad66ff !important;
}

/* ******** info ************** */

.course-information a {
    text-decoration: none;
    color: #2e2a33;
    padding: 10px;
}

.course-information small {
    color: #686e71;
}

/******************* introduction************* */
.course-introduction,
.course-download,
.course-comment,
.course-video {
    background-color: #f8f8f8;
    box-shadow: 0 0 10px gainsboro;
    padding: 20px;
    float: left;
    overflow: hidden;
    margin-bottom: 30px;
}

.course-introduction .course-image {
    background: url(../images/javascript.png) no-repeat;
    background-size: contain;
    padding: 230px 20px;
}

.course-introduction h2 {
    margin: 25px 0;
    font-size: 18px;
    color: #2f0c55;
}

.course-introduction p {
    line-height: 40px;
    font-size: 13px !important;
}

/* ******************** tags **************** */
.course-tag h3 {
    padding: 10px;

}

.course-tag a {
    font-size: 13px;
    text-decoration: none;
    background-color: #e5d9ec7e;
    color: #2e2a33;
    padding: 2px 6px;
    margin: 5px;
}


/* ************* aside button **************** */
.button-group {
    overflow: hidden !important;
    padding: 0;
}

.button-group button {
    width: 100%;
    display: block;
    margin: auto;
    overflow: hidden !important;
}

.favorites-btn {
    margin: 15px 0 !important;
    border: 1px solid #1e2f38;
    color: #1e2f38;
    border: 0;
    line-height: 40px;
    height: 40px;
    text-align: center;
    padding: 0 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: transparent;
    border: 1px solid #1e2f38;
    overflow: hidden;
}

.favorites-btn::after {
    position: absolute;
    content: '';
    background-color: #2f0c55;
    width: 100%;
    padding: 20px;
    left: -100%;
    transition: 0.6s;
    z-index: -1;
    border-radius: 5px;
}

.favorites-btn:hover .fa-heart {
    color: crimson;
    transition-delay: 0.2s;
}

.favorites-btn:hover {
    color: #f8f8f8;
    transition-delay: 0.2s;
}

.favorites-btn:hover::after {
    left: 0;
}

/* *********** related articles ************** */
.related-articles {
    padding: 5px 0 !important;
}

.related-articles h2 {
    padding: 10px;
    border-bottom: 1px solid gainsboro;
}

.related-articles img {
    border-radius: 5px;
    padding: 10px 0;
}

.related-articles a {
    padding: 20px;
    padding-left: 0;
    text-decoration: none;
    color: #1e2f38;
    font-size: 12px;
}

.related-articles a:hover {
    color: #ad66ff;
    transform: scale(1.02);
}

.related-articles div {
    border-bottom: 1px solid gainsboro;
}



/**************** download box **************/

.course-download h2>a {
    float: left;
    text-decoration: none;
    margin-bottom: 50px;
    color: #686e71;
}


.download-box {
    border: 1px dashed gainsboro;
    padding: 15px;
    margin: 5px 0;
}

.download-box-active {
    background-color: #eeeeee;
}
.part-number {
    position: absolute;
    border: 1px solid gray;
    right: -15px;
    top: 25px;
    border-radius: 50px;
    padding: 5px 10px;
    background-color: rgba(241, 241, 241, 0.733);
    color: rgb(12, 12, 12);
}

.number-active {
    background-color: #2f0c55;
    color: #fff;
}

.download-box span {
    font-size: 25px;
    color: gainsboro;
    position: relative;
    top: 4px;
}

.download-box div a {
    margin-right: 10px;
    padding: 0 15px;
    text-decoration: none;
    color: #686e71;
    font: 16px !important;
    line-height: 50px;
}

.download-icons {
    float: left;
    line-height: 50px;
}

.download-icons a {
    font-size: 20px;
    border-radius: 10px;
    margin-left: 5px;
}

/* ******************* comment box ************** */


.course-comment h2 {
    margin-bottom: 80px;
}

.comment-box {
    margin: 5px 0;
}

.comment-box img {
    width: 70px;
    height: 70px;
    padding: 0;
    border-radius: 100%;
}

.user-comment,
.reply-comment {
    border-radius: 5px;
    width: 88%;
    float: left;
    border: 1px solid gainsboro;
    padding: 20px;
    margin: 10px 0;
}

.user-comment a,
.reply-comment a {
    padding: 0 15px;
    text-decoration: none;
    color: #a0a0a0;
    font-size: 13px;
}

.user-comment,
.reply-comment {
    color: #a0a0a0;
    font-size: 18px;
    position: relative;
    top: 5px;
}

.comment-box .button-st {
    float: left;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    margin-right: 10px;
}

.comment-text {
    font-size: 14px;
    margin-top: 25px;
    color: #686e71;
    line-height: 30px;
}


/* Decoupled document build. */
.ck.editor__editable[role='textbox'],
.ck.ck-editor__editable[role='textbox'],
/* Inline & Balloon build. */
.ck.editor[role='textbox'] {
    width: 100%;
    background: #fff;
    font-size: 1em;
    line-height: 1.6em;
    min-height: 180px;
    padding: 0em 2em;
    margin-bottom: 20px;
}

.register-first p {
    width: 100%;
    line-height: 40px;
    border-radius: 5px;
    background-color: #fcc30896;
    text-align: center;
    margin: 5px 0 20px 0;
    display: block;
}

.register-first a {
    color: #8c51ca;
    text-decoration: none;
}

.leave-comment label {
    margin: 10px 0;
}

.leave-comment input {
    width: 100%;
    border: 1px solid gainsboro;
    padding: 5px;
}

.leave-comment button {
    padding: 0 20px;
    float: left;
}

/* *********video************** */

.course-video .afterglow {
    width: 100%;
    height: 500px;
    display: block;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 25px;
}

.course-video h2 {
    color: #2f0c55;
    padding: 20px 0;
    border-bottom: 1px solid gainsboro;
}

.course-video h2>span {
    float: left;
}

.course-video p {
    color: #686e71;
    font-size: 13px;
    padding: 5px 0;

}

/* ************* 1199 ********************* */
@media screen and (max-width : 1199px) {

    .aside-course p,
    .main-body-course p,
    .aside-course button,
    .main-body-course button .aside-course a,
    .main-body-course a,
    .aside-course span,
    .main-body-course span,
    .aside-course label,
    .main-body-course label {
        font-size: 15px !important;
    }

    .aside-course h2,
    .main-body-course h2 {
        font-size: 17px !important;
    }

    .fa-tag,
    .fa-list,
    .fa-download,
    .fa-play,
    .fa-video,
    .fa-comments {
        margin-left: 7px !important;
        font-size: 14px !important;

    }

    .course-image {
        padding: 200px 20px !important;
    }
    .related-articles a {
        padding: 0 0 15px 0!important;
        margin: 0 !important;
    }
}

/* ******************* 991 *********************** */
@media screen and (max-width : 991px) {
    .main-body-course {
        max-width: 100%;
    }

    .aside-course p,
    .main-body-course p,
    .aside-course button,
    .main-body-course button .aside-course a,
    .main-body-course a,
    .aside-course span,
    .main-body-course span,
    .aside-course label,
    .main-body-course label {
        font-size: 14px !important;
    }

    .aside-course h2,
    .main-body-course h2 {
        font-size: 16px !important;
    }

    .fa-tag,
    .fa-list,
    .fa-download,
    .fa-play,
    .fa-video,
    .fa-comments {
        margin-left: 7px !important;
        font-size: 14px !important;

    }

    .course-image {
        padding: 200px 20px !important;
    }

    .comment-box img {
        width: 60px !important;
        height: 60px !important;
    }
    .course-video .afterglow{
        height: 400px;
    }
}



/* ************************** 767 ******************** */
@media screen and (max-width : 767px) {

    .aside-course p,
    .main-body-course p,
    .aside-course button,
    .main-body-course button .aside-course a,
    .main-body-course a,
    .aside-course span,
    .main-body-course span,
    .aside-course label,
    .main-body-course label {
        font-size: 13px !important;
    }

    .aside-course h2,
    .main-body-course h2 {
        font-size: 15px !important;
    }

    .fa-tag,
    .fa-list,
    .fa-download,
    .fa-play,
    .fa-video,
    .fa-comments {
        margin-left: 7px !important;
        font-size: 13px !important;

    }

    .course-image {
        padding: 200px 20px !important;
    }

    .comment-box img {
            width: 50px !important;
            height: 50px !important;
    }
    .related-articles img {
        display: none;
    }
    .course-video .afterglow{
        height: 350px;
    }
}


/* ***************** 480 ********************* */
@media screen and (max-width : 480px) {

    .aside-course p,
    .main-body-course p,
    .aside-course button,
    .main-body-course button .aside-course a,
    .main-body-course a,
    .aside-course span,
    .main-body-course span,
    .aside-course label,
    .main-body-course label,
    .aside-course div,
    .main-body-course div {
        font-size: 12px !important;
    }

    .aside-course h2,
    .main-body-course h2 {
        font-size: 14px !important;
    }

    .fa-tag,
    .fa-list,
    .fa-download,
    .fa-play,
    .fa-video,
    .fa-comments {
        margin-left: 7px !important;
        font-size: 12px !important;

    }

    .course-image {
        padding: 100px 20px !important;
    }

    .comment-box img {
        display: none;
    }

    .user-comment,
    .reply-comment {
        width: 100%;
    }

    .related-articles img {
        display: none;
    }
    .course-video .afterglow{
        height: 250px;
    }
}