
.forgetPass{
    margin-bottom: 15rem;
}
.forgetPass .forgetPass-content{
    width: 70%;
    display: block;
    margin: auto;
}
.forgetPass .forgetPass-content input{
    width: 50%;
    display: block;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}
.forgetPass .forgetPass-content button{
    display: block;
    margin: auto;
    width: 20%;
}
.forgetPass .forgetPass-content img{
    max-width: 60%;
    display: block;
    margin: auto;
}


.alert-email{
    padding: 20px;
    border-radius: 5px;
    background-color: #9fd98c;
    text-align: center;
}







@media screen and (max-width : 991px){
    .forgetPass .forgetPass-content input{
width: 70%;
    }
    .forgetPass .forgetPass-content button{
        width: 30%;
    }
    .forgetPass .forgetPass-content img{
        max-width: 70%;
    }
}
@media screen and (max-width : 767px){
    .forgetPass .forgetPass-content input{
width: 80%;
    }
    .forgetPass .forgetPass-content button{
        width: 50%;
    }
    .forgetPass .forgetPass-content img{
        max-width: 80%;

    }
}
@media screen and (max-width : 480px){
    .forgetPass .forgetPass-content input{
width: 100%;
    }
    .forgetPass .forgetPass-content button{
        width: 100%;
    }
    .forgetPass .forgetPass-content img{
        max-width: 100%;

    }
}
